/medit
/test_editor_core
/build/

/.config/medit/debug.log
/.config/medit/grammars/
/.config/medit/queries/
/.config/medit/libtree-sitter.so
/.config/medit/libtree-sitter.dylib
/.config/medit/syntax.json

*.o
*.swp
*~

/file.txt
/nav_test.txt
/paste_test.txt
/refactor_test.txt
/undo_test.txt
/visual_test.txt
/visual_test_yank.txt
